<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4" parallel="tests">
	<test thread-count="1" name="Test">
		<classes>
			<class name="Test.TechveritoProduct.login" />
			<class name="Test.TechveritoProduct.CRUDOpProduct" />
			<class name="Test.TechveritoProduct.fieldValidation" />
			<class name="Test.TechveritoProduct.listingProducts" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
